__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.vscode/
.idea/
.DS_Store
.env
*.env
.git/
.gitignore
data/*
!data/corpus/faiss_index/index.faiss
models/
*.pt
*.pth
*.tar
*.zip
*.pdf
*.jpg
*.jpeg
*.png
*.bak
*.swp
*.tar.gz
*.tgz
tests/
docs/
venv/
env/